{"openapi":"3.0.1","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://backhydramanager.biagioboi.it","description":"Generated server url"}],"tags":[{"name":"Daily Menus","description":"Manage daily menus and submissions."},{"name":"Dishes","description":"Manage menu dishes."},{"name":"Menu Categories","description":"Manage menu categories."},{"name":"Restaurant Tables","description":"Manage restaurant tables."}],"paths":{"/api/tables/{id}":{"get":{"tags":["Restaurant Tables"],"operationId":"getTable","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TableResponse"}}}}}},"put":{"tags":["Restaurant Tables"],"operationId":"updateTable","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TableResponse"}}}}}},"delete":{"tags":["Restaurant Tables"],"operationId":"deleteTable","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/rooms/{id}":{"get":{"tags":["room-controller"],"operationId":"getRoom","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Room"}}}}}},"put":{"tags":["room-controller"],"operationId":"updateRoom","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Room"}}}}}},"delete":{"tags":["room-controller"],"operationId":"deleteRoom","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/room-statuses/{id}":{"get":{"tags":["room-status-controller"],"operationId":"get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoomStatus"}}}}}},"put":{"tags":["room-status-controller"],"operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomStatusUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoomStatus"}}}}}},"delete":{"tags":["room-status-controller"],"operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/payment-methods/{id}":{"get":{"tags":["payment-method-controller"],"operationId":"get_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentMethodResponse"}}}}}},"put":{"tags":["payment-method-controller"],"operationId":"update_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentMethodUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentMethodResponse"}}}}}},"delete":{"tags":["payment-method-controller"],"operationId":"delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/menu/dishes/{id}":{"get":{"tags":["Dishes"],"operationId":"get_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DishResponse"}}}}}},"put":{"tags":["Dishes"],"operationId":"update_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DishUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DishResponse"}}}}}},"delete":{"tags":["Dishes"],"operationId":"delete_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/menu/daily/{menuId}/items":{"put":{"tags":["Daily Menus"],"operationId":"replaceItems","parameters":[{"name":"menuId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReplaceMenuItemsRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DailyMenuResponse"}}}}}},"post":{"tags":["Daily Menus"],"operationId":"addItem","parameters":[{"name":"menuId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddMenuItemRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DailyMenuResponse"}}}}}}},"/api/menu/daily/{menuId}/items/reorder":{"put":{"tags":["Daily Menus"],"operationId":"reorder","parameters":[{"name":"menuId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReorderMenuItemRequest"}}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DailyMenuResponse"}}}}}}},"/api/menu/categories/{id}":{"get":{"tags":["Menu Categories"],"operationId":"get_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MenuCategoryResponse"}}}}}},"put":{"tags":["Menu Categories"],"operationId":"update_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MenuCategoryUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MenuCategoryResponse"}}}}}},"delete":{"tags":["Menu Categories"],"operationId":"delete_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/extra/stores/{id}":{"get":{"tags":["store-controller"],"operationId":"get_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreResponse"}}}}}},"put":{"tags":["store-controller"],"operationId":"update_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreResponse"}}}}}},"delete":{"tags":["store-controller"],"operationId":"delete_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/extra/stores/{id}/products/{productId}":{"put":{"tags":["store-controller"],"operationId":"updateProductQuantity","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"productId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreProductUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreProductResponse"}}}}}}},"/api/extra/store-products/{id}":{"get":{"tags":["store-product-controller"],"operationId":"get_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreProductResponse"}}}}}},"put":{"tags":["store-product-controller"],"operationId":"update_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreProductUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreProductResponse"}}}}}},"delete":{"tags":["store-product-controller"],"operationId":"delete_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/extra/products/{id}":{"get":{"tags":["extra-product-controller"],"operationId":"get_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExtraProductResponse"}}}}}},"put":{"tags":["extra-product-controller"],"operationId":"update_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtraProductUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExtraProductResponse"}}}}}},"delete":{"tags":["extra-product-controller"],"operationId":"delete_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/extra/categories/{id}":{"get":{"tags":["extra-category-controller"],"operationId":"get_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExtraCategoryResponse"}}}}}},"put":{"tags":["extra-category-controller"],"operationId":"update_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtraCategoryUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExtraCategoryResponse"}}}}}},"delete":{"tags":["extra-category-controller"],"operationId":"delete_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/extra/carts/{cartId}/items/{itemId}":{"put":{"tags":["extra-cart-controller"],"operationId":"updateItem","parameters":[{"name":"cartId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"itemId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtraCartItemUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExtraCartItemResponse"}}}}}},"delete":{"tags":["extra-cart-controller"],"operationId":"deleteItem","parameters":[{"name":"cartId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"itemId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/deposits/{id}":{"get":{"tags":["deposit-controller"],"operationId":"getDeposit","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DepositResponse"}}}}}},"put":{"tags":["deposit-controller"],"operationId":"updateDeposit","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepositUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DepositResponse"}}}}}},"delete":{"tags":["deposit-controller"],"operationId":"deleteDeposit","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/cash-departments/{id}":{"get":{"tags":["cash-department-controller"],"operationId":"get_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CashDepartmentResponse"}}}}}},"put":{"tags":["cash-department-controller"],"operationId":"update_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CashDepartmentUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CashDepartmentResponse"}}}}}},"delete":{"tags":["cash-department-controller"],"operationId":"delete_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/bookings/{id}":{"get":{"tags":["booking-controller"],"operationId":"getBooking","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BookingResponse"}}}}}},"put":{"tags":["booking-controller"],"operationId":"updateBooking","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BookingResponse"}}}}}},"delete":{"tags":["booking-controller"],"operationId":"deleteBooking","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/tables":{"get":{"tags":["Restaurant Tables"],"operationId":"getAllTables","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TableResponse"}}}}}}},"post":{"tags":["Restaurant Tables"],"operationId":"createTable","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TableResponse"}}}}}}},"/api/rooms":{"get":{"tags":["room-controller"],"operationId":"getAllRooms","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Room"}}}}}}},"post":{"tags":["room-controller"],"operationId":"createRoom","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Room"}}}}}}},"/api/room-statuses":{"get":{"tags":["room-status-controller"],"operationId":"list","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RoomStatus"}}}}}}},"post":{"tags":["room-status-controller"],"operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomStatusCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoomStatus"}}}}}}},"/api/payment-methods":{"get":{"tags":["payment-method-controller"],"operationId":"list_1","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PaymentMethodResponse"}}}}}}},"post":{"tags":["payment-method-controller"],"operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentMethodCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentMethodResponse"}}}}}}},"/api/menu/dishes":{"get":{"tags":["Dishes"],"operationId":"list_2","parameters":[{"name":"categoryId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"q","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DishResponse"}}}}}}},"post":{"tags":["Dishes"],"operationId":"create_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DishCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DishResponse"}}}}}}},"/api/menu/daily":{"get":{"tags":["Daily Menus"],"operationId":"get_9","parameters":[{"name":"date","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"serviceType","in":"query","required":true,"schema":{"type":"string","enum":["LUNCH","DINNER"]}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DailyMenuResponse"}}}}}},"post":{"tags":["Daily Menus"],"operationId":"create_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DailyMenuCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DailyMenuResponse"}}}}}}},"/api/menu/daily/{menuId}/submissions":{"post":{"tags":["Daily Menus"],"operationId":"submitByUser","parameters":[{"name":"menuId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MenuSubmissionRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MenuSubmissionResponse"}}}}}}},"/api/menu/daily/{menuId}/submissions/{userId}":{"post":{"tags":["Daily Menus"],"operationId":"submitByUserIdPath","parameters":[{"name":"menuId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MenuSubmissionRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MenuSubmissionResponse"}}}}}}},"/api/menu/categories":{"get":{"tags":["Menu Categories"],"operationId":"list_3","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MenuCategoryResponse"}}}}}}},"post":{"tags":["Menu Categories"],"operationId":"create_4","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MenuCategoryCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MenuCategoryResponse"}}}}}}},"/api/extra/stores":{"get":{"tags":["store-controller"],"operationId":"list_4","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StoreResponse"}}}}}}},"post":{"tags":["store-controller"],"operationId":"create_5","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreResponse"}}}}}}},"/api/extra/stores/{id}/products":{"get":{"tags":["store-controller"],"operationId":"listProducts","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StoreProductResponse"}}}}}}},"post":{"tags":["store-controller"],"operationId":"assignProduct","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreProductAssignRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreProductResponse"}}}}}}},"/api/extra/store-products":{"get":{"tags":["store-product-controller"],"operationId":"list_5","parameters":[{"name":"storeId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"productId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StoreProductResponse"}}}}}}},"post":{"tags":["store-product-controller"],"operationId":"create_6","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreProductCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreProductResponse"}}}}}}},"/api/extra/products":{"get":{"tags":["extra-product-controller"],"operationId":"list_6","parameters":[{"name":"categoryId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExtraProductResponse"}}}}}}},"post":{"tags":["extra-product-controller"],"operationId":"create_7","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtraProductCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExtraProductResponse"}}}}}}},"/api/extra/categories":{"get":{"tags":["extra-category-controller"],"operationId":"list_7","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExtraCategoryResponse"}}}}}}},"post":{"tags":["extra-category-controller"],"operationId":"create_8","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtraCategoryCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExtraCategoryResponse"}}}}}}},"/api/extra/carts":{"get":{"tags":["extra-cart-controller"],"operationId":"list_8","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExtraCartResponse"}}}}}}},"post":{"tags":["extra-cart-controller"],"operationId":"create_9","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtraCartCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExtraCartResponse"}}}}}}},"/api/extra/carts/{id}/items":{"get":{"tags":["extra-cart-controller"],"operationId":"listItems","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExtraCartItemResponse"}}}}}}},"post":{"tags":["extra-cart-controller"],"operationId":"addItem_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtraCartItemCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExtraCartItemResponse"}}}}}}},"/api/extra/carts/{id}/charge":{"post":{"tags":["extra-cart-controller"],"operationId":"charge","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtraCartChargeRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExtraCartResponse"}}}}}}},"/api/deposits":{"get":{"tags":["deposit-controller"],"operationId":"listDeposits","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DepositResponse"}}}}}}},"post":{"tags":["deposit-controller"],"operationId":"createDeposit","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepositCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DepositResponse"}}}}}}},"/api/cash-departments":{"get":{"tags":["cash-department-controller"],"operationId":"list_9","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CashDepartmentResponse"}}}}}}},"post":{"tags":["cash-department-controller"],"operationId":"create_10","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CashDepartmentCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CashDepartmentResponse"}}}}}}},"/api/bookings":{"get":{"tags":["booking-controller"],"operationId":"getAllBookings","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingResponse"}}}}}}},"post":{"tags":["booking-controller"],"operationId":"createBooking","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BookingResponse"}}}}}}},"/api/bookings/{id}/checkin":{"post":{"tags":["booking-controller"],"operationId":"checkIn","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingCheckInRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BookingResponse"}}}}}},"delete":{"tags":["booking-controller"],"operationId":"cancelCheckIn","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BookingResponse"}}}}}}},"/api/bar/cards":{"get":{"tags":["bar-card-controller"],"operationId":"list_10","parameters":[{"name":"userId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BarCardResponse"}}}}}}},"post":{"tags":["bar-card-controller"],"operationId":"create_11","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BarCardCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BarCardResponse"}}}}}}},"/api/bar/cards/{id}/transactions":{"get":{"tags":["bar-card-controller"],"operationId":"listTransactions","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BarTransactionResponse"}}}}}}},"post":{"tags":["bar-card-controller"],"operationId":"addTransaction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BarTransactionCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BarTransactionResponse"}}}}}}},"/api/bar/cards/{id}/topup":{"post":{"tags":["bar-card-controller"],"operationId":"topUp","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BarCardTopUpRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BarCardResponse"}}}}}}},"/api/bar/cards/{cardId}/transactions/{txId}/cancel":{"post":{"tags":["bar-card-controller"],"operationId":"cancelTransaction","parameters":[{"name":"cardId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"txId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BarTransactionResponse"}}}}}}},"/api/auth/register/guest":{"post":{"tags":["auth-controller"],"operationId":"registerGuest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GuestUserRegistrationRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisterResponse"}}}}}}},"/api/auth/register/admin":{"post":{"tags":["auth-controller"],"operationId":"registerAdmin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminRegistrationRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisterResponse"}}}}}}},"/api/auth/login":{"post":{"tags":["auth-controller"],"operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoginResponse"}}}}}}},"/api/agencies":{"get":{"tags":["agency-controller"],"operationId":"listAgencies","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AgencyResponse"}}}}}}},"post":{"tags":["agency-controller"],"operationId":"createAgency","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgencyCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AgencyResponse"}}}}}}},"/api/users/search":{"get":{"tags":["user-controller"],"operationId":"searchByEmail","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}}},"/api/extra/carts/{id}":{"get":{"tags":["extra-cart-controller"],"operationId":"get_10","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExtraCartResponse"}}}}}},"delete":{"tags":["extra-cart-controller"],"operationId":"delete_9","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/bar/cards/{id}":{"get":{"tags":["bar-card-controller"],"operationId":"get_11","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BarCardResponse"}}}}}}},"/api/agencies/search":{"get":{"tags":["agency-controller"],"operationId":"searchAgency","parameters":[{"name":"agencyName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AgencyResponse"}}}}}}},"/api/menu/daily/{menuId}/items/{itemId}":{"delete":{"tags":["Daily Menus"],"operationId":"removeItem","parameters":[{"name":"menuId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"itemId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}}},"components":{"schemas":{"ApiError":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"integer","format":"int32"},"timestamp":{"type":"string","format":"date-time"}}},"TableUpdateRequest":{"type":"object","properties":{"capacity":{"type":"integer","format":"int32"}}},"TableResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"tableNumber":{"type":"string"},"capacity":{"type":"integer","format":"int32"}}},"RoomUpdateRequest":{"type":"object","properties":{"capacity":{"type":"integer","format":"int32"},"roomType":{"type":"string"},"description":{"type":"string"},"statusId":{"type":"integer","format":"int64"}}},"Room":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"roomNumber":{"type":"string"},"capacity":{"type":"integer","format":"int32"},"status":{"$ref":"#/components/schemas/RoomStatus"},"roomType":{"type":"string"},"description":{"type":"string"}}},"RoomStatus":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}}},"RoomStatusUpdateRequest":{"type":"object","properties":{"name":{"type":"string"}}},"PaymentMethodUpdateRequest":{"type":"object","properties":{"name":{"type":"string"},"cashRegisterCode":{"type":"string"}}},"PaymentMethodResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"cashRegisterCode":{"type":"string"}}},"DishUpdateRequest":{"type":"object","properties":{"name":{"type":"string"},"nameEn":{"type":"string"},"categoryId":{"type":"integer","format":"int64"},"ingredients":{"type":"array","items":{"type":"string"}}}},"DishResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"nameEn":{"type":"string"},"categoryId":{"type":"integer","format":"int64"},"categoryName":{"type":"string"},"ingredients":{"type":"array","items":{"type":"string"}}}},"ReplaceMenuItemRequest":{"type":"object","properties":{"dishId":{"type":"integer","format":"int64"},"position":{"type":"integer","format":"int32"},"note":{"type":"string"}}},"ReplaceMenuItemsRequest":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/ReplaceMenuItemRequest"}}}},"DailyMenuResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"date":{"type":"string","format":"date"},"service":{"type":"string","enum":["LUNCH","DINNER"]},"items":{"type":"array","items":{"$ref":"#/components/schemas/MenuItemResponse"}}}},"MenuItemResponse":{"type":"object","properties":{"itemId":{"type":"integer","format":"int64"},"position":{"type":"integer","format":"int32"},"dishId":{"type":"integer","format":"int64"},"dishName":{"type":"string"},"dishNameEn":{"type":"string"},"categoryName":{"type":"string"},"note":{"type":"string"}}},"ReorderMenuItemRequest":{"type":"object","properties":{"itemId":{"type":"integer","format":"int64"},"position":{"type":"integer","format":"int32"}}},"MenuCategoryUpdateRequest":{"type":"object","properties":{"name":{"type":"string"}}},"MenuCategoryResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}}},"StoreUpdateRequest":{"type":"object","properties":{"name":{"type":"string"}}},"StoreResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}}},"StoreProductUpdateRequest":{"type":"object","properties":{"quantity":{"type":"integer","format":"int32"}}},"StoreProductResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"storeId":{"type":"integer","format":"int64"},"storeName":{"type":"string"},"productId":{"type":"integer","format":"int64"},"productName":{"type":"string"},"quantity":{"type":"integer","format":"int32"}}},"ExtraProductUpdateRequest":{"type":"object","properties":{"name":{"type":"string"},"price":{"type":"number"},"stockQuantity":{"type":"integer","format":"int32"},"categoryId":{"type":"integer","format":"int64"}}},"ExtraProductResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"price":{"type":"number"},"stockQuantity":{"type":"integer","format":"int32"},"categoryId":{"type":"integer","format":"int64"},"categoryName":{"type":"string"}}},"ExtraCategoryUpdateRequest":{"type":"object","properties":{"name":{"type":"string"}}},"ExtraCategoryResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}}},"ExtraCartItemUpdateRequest":{"type":"object","properties":{"quantity":{"type":"integer","format":"int32"}}},"ExtraCartItemResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"cartId":{"type":"integer","format":"int64"},"storeId":{"type":"integer","format":"int64"},"storeName":{"type":"string"},"productId":{"type":"integer","format":"int64"},"productName":{"type":"string"},"quantity":{"type":"integer","format":"int32"}}},"DepositUpdateRequest":{"type":"object","properties":{"amount":{"type":"number"},"paymentMethodId":{"type":"integer","format":"int64"},"notes":{"type":"string"},"bookingId":{"type":"integer","format":"int64"}}},"DepositResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"amount":{"type":"number"},"paymentMethodId":{"type":"integer","format":"int64"},"paymentMethodName":{"type":"string"},"paymentMethodCashRegisterCode":{"type":"string"},"notes":{"type":"string"},"bookingId":{"type":"integer","format":"int64"}}},"CashDepartmentUpdateRequest":{"type":"object","properties":{"name":{"type":"string"},"code":{"type":"string"}}},"CashDepartmentResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"code":{"type":"string"}}},"BookingUpdateRequest":{"type":"object","properties":{"userId":{"type":"integer","format":"int64"},"agencyId":{"type":"integer","format":"int64"},"agencyReference":{"type":"string"},"agencyBookingDate":{"type":"string","format":"date"},"roomNumber":{"type":"string"},"adults":{"type":"integer","format":"int32"},"children":{"type":"integer","format":"int32"},"infants":{"type":"integer","format":"int32"},"checkInDate":{"type":"string","format":"date"},"checkOutDate":{"type":"string","format":"date"},"treatment":{"type":"string","enum":["ROOM_BREAKFAST","HALF_BOARD","FULL_BOARD"]},"notes":{"type":"string"},"status":{"type":"string","enum":["INSERTED","CONFIRMED","ARRIVED","CANCELLED","DEPARTED"]},"tableNumber":{"type":"string"},"price":{"type":"number"}}},"BookingResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"roomNumber":{"type":"string"},"guestUsername":{"type":"string"},"guestFirstName":{"type":"string"},"guestLastName":{"type":"string"},"cardId":{"type":"integer","format":"int64"},"agencyName":{"type":"string"},"agencyReference":{"type":"string"},"agencyBookingDate":{"type":"string","format":"date"},"adults":{"type":"integer","format":"int32"},"children":{"type":"integer","format":"int32"},"infants":{"type":"integer","format":"int32"},"checkInDate":{"type":"string","format":"date"},"checkOutDate":{"type":"string","format":"date"},"treatment":{"type":"string","enum":["ROOM_BREAKFAST","HALF_BOARD","FULL_BOARD"]},"checkInMeal":{"type":"string","enum":["BREAKFAST","LUNCH","DINNER"]},"notes":{"type":"string"},"status":{"type":"string","enum":["INSERTED","CONFIRMED","ARRIVED","CANCELLED","DEPARTED"]},"tableNumber":{"type":"string"},"price":{"type":"number"},"createdAt":{"type":"string","format":"date-time"}}},"TableCreateRequest":{"type":"object","properties":{"tableNumber":{"type":"string"},"capacity":{"type":"integer","format":"int32"}}},"RoomCreateRequest":{"type":"object","properties":{"roomNumber":{"type":"string"},"capacity":{"type":"integer","format":"int32"},"roomType":{"type":"string"},"description":{"type":"string"},"statusId":{"type":"integer","format":"int64"}}},"RoomStatusCreateRequest":{"type":"object","properties":{"name":{"type":"string"}}},"PaymentMethodCreateRequest":{"type":"object","properties":{"name":{"type":"string"},"cashRegisterCode":{"type":"string"}}},"DishCreateRequest":{"type":"object","properties":{"name":{"type":"string"},"nameEn":{"type":"string"},"categoryId":{"type":"integer","format":"int64"},"ingredients":{"type":"array","items":{"type":"string"}}}},"DailyMenuCreateRequest":{"type":"object","properties":{"date":{"type":"string","format":"date"},"service":{"type":"string","enum":["LUNCH","DINNER"]}}},"DishSelection":{"type":"object","properties":{"dishId":{"type":"integer","format":"int64"},"count":{"type":"integer","format":"int32"}}},"MenuSubmissionRequest":{"type":"object","properties":{"userId":{"type":"integer","format":"int64"},"selections":{"type":"array","items":{"$ref":"#/components/schemas/DishSelection"}}}},"MenuSubmissionResponse":{"type":"object","properties":{"submissionId":{"type":"integer","format":"int64"}}},"AddMenuItemRequest":{"type":"object","properties":{"dishId":{"type":"integer","format":"int64"},"position":{"type":"integer","format":"int32"},"note":{"type":"string"}}},"MenuCategoryCreateRequest":{"type":"object","properties":{"name":{"type":"string"}}},"StoreCreateRequest":{"type":"object","properties":{"name":{"type":"string"}}},"StoreProductAssignRequest":{"type":"object","properties":{"productId":{"type":"integer","format":"int64"},"quantity":{"type":"integer","format":"int32"}}},"StoreProductCreateRequest":{"type":"object","properties":{"storeId":{"type":"integer","format":"int64"},"productId":{"type":"integer","format":"int64"},"quantity":{"type":"integer","format":"int32"}}},"ExtraProductCreateRequest":{"type":"object","properties":{"name":{"type":"string"},"price":{"type":"number"},"stockQuantity":{"type":"integer","format":"int32"},"categoryId":{"type":"integer","format":"int64"}}},"ExtraCategoryCreateRequest":{"type":"object","properties":{"name":{"type":"string"}}},"ExtraCartCreateRequest":{"type":"object"},"ExtraCartResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"createdAt":{"type":"string","format":"date-time"}}},"ExtraCartItemCreateRequest":{"type":"object","properties":{"storeProductId":{"type":"integer","format":"int64"},"quantity":{"type":"integer","format":"int32"}}},"ExtraCartChargeRequest":{"type":"object","properties":{"cardId":{"type":"integer","format":"int64"}}},"DepositCreateRequest":{"type":"object","properties":{"amount":{"type":"number"},"paymentMethodId":{"type":"integer","format":"int64"},"notes":{"type":"string"},"bookingId":{"type":"integer","format":"int64"}}},"CashDepartmentCreateRequest":{"type":"object","properties":{"name":{"type":"string"},"code":{"type":"string"}}},"BookingCreateRequest":{"type":"object","properties":{"roomNumber":{"type":"string"},"userId":{"type":"integer","format":"int64"},"agencyId":{"type":"integer","format":"int64"},"agencyReference":{"type":"string"},"agencyBookingDate":{"type":"string","format":"date"},"adults":{"type":"integer","format":"int32"},"children":{"type":"integer","format":"int32"},"infants":{"type":"integer","format":"int32"},"checkInDate":{"type":"string","format":"date"},"checkOutDate":{"type":"string","format":"date"},"treatment":{"type":"string","enum":["ROOM_BREAKFAST","HALF_BOARD","FULL_BOARD"]},"notes":{"type":"string"},"status":{"type":"string","enum":["INSERTED","CONFIRMED","ARRIVED","CANCELLED","DEPARTED"]},"price":{"type":"number"}}},"BookingCheckInRequest":{"type":"object","properties":{"meal":{"type":"string","enum":["BREAKFAST","LUNCH","DINNER"]}}},"BarCardCreateRequest":{"type":"object","properties":{"userId":{"type":"integer","format":"int64"},"initialBalance":{"type":"number"}}},"BarCardResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"username":{"type":"string"},"balance":{"type":"number"},"createdAt":{"type":"string","format":"date-time"}}},"BarTransactionCreateRequest":{"type":"object","properties":{"storeId":{"type":"integer","format":"int64"},"productId":{"type":"integer","format":"int64"},"quantity":{"type":"integer","format":"int32"}}},"BarTransactionResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"cardId":{"type":"integer","format":"int64"},"storeId":{"type":"integer","format":"int64"},"storeName":{"type":"string"},"productId":{"type":"integer","format":"int64"},"productName":{"type":"string"},"quantity":{"type":"integer","format":"int32"},"unitPrice":{"type":"number"},"totalPrice":{"type":"number"},"cancelled":{"type":"boolean"},"cancelledAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"}}},"BarCardTopUpRequest":{"type":"object","properties":{"amount":{"type":"number"}}},"GuestUserRegistrationRequest":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"},"password":{"type":"string"},"email":{"type":"string"},"phoneNumber":{"type":"string"}}},"RegisterResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"username":{"type":"string"},"email":{"type":"string"}}},"AdminRegistrationRequest":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"},"password":{"type":"string"},"email":{"type":"string"}}},"LoginRequest":{"type":"object","properties":{"username":{"type":"string"},"password":{"type":"string"}}},"LoginResponse":{"type":"object","properties":{"token":{"type":"string"},"role":{"type":"string"}}},"AgencyCreateRequest":{"type":"object","properties":{"agencyName":{"type":"string"}}},"AgencyResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"agencyName":{"type":"string"}}},"UserResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"username":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"role":{"type":"string"},"phoneNumber":{"type":"string"}}}}}}