{"openapi":"3.0.1","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://backhydramanager.biagioboi.it","description":"Generated server url"}],"tags":[{"name":"Daily Menus","description":"Manage daily menus and submissions."},{"name":"Dishes","description":"Manage menu dishes."},{"name":"Menu Categories","description":"Manage menu categories."},{"name":"Restaurant Tables","description":"Manage restaurant tables."}],"paths":{"/api/users/guest/{id}":{"put":{"tags":["user-controller"],"operationId":"updateGuestUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}}},"/api/tables/{id}":{"get":{"tags":["Restaurant Tables"],"operationId":"getTable","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TableResponse"}}}}}},"put":{"tags":["Restaurant Tables"],"operationId":"updateTable","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TableResponse"}}}}}},"delete":{"tags":["Restaurant Tables"],"operationId":"deleteTable","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/rooms/{id}":{"get":{"tags":["room-controller"],"operationId":"getRoom","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Room"}}}}}},"put":{"tags":["room-controller"],"operationId":"updateRoom","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Room"}}}}}},"delete":{"tags":["room-controller"],"operationId":"deleteRoom","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/room-statuses/{id}":{"get":{"tags":["room-status-controller"],"operationId":"get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoomStatus"}}}}}},"put":{"tags":["room-status-controller"],"operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomStatusUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoomStatus"}}}}}},"delete":{"tags":["room-status-controller"],"operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/room-features/{id}":{"get":{"tags":["room-feature-controller"],"operationId":"get_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoomFeatureResponse"}}}}}},"put":{"tags":["room-feature-controller"],"operationId":"update_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomFeatureUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoomFeatureResponse"}}}}}},"delete":{"tags":["room-feature-controller"],"operationId":"delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/ps/{id}":{"put":{"tags":["ps-controller"],"operationId":"updatePS","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PSCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PSDto"}}}}}},"delete":{"tags":["ps-controller"],"operationId":"deletePS","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK"}}}},"/api/payment-methods/{id}":{"get":{"tags":["payment-method-controller"],"operationId":"get_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentMethodResponse"}}}}}},"put":{"tags":["payment-method-controller"],"operationId":"update_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentMethodUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentMethodResponse"}}}}}},"delete":{"tags":["payment-method-controller"],"operationId":"delete_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/menu/dishes/{id}":{"get":{"tags":["Dishes"],"operationId":"get_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DishResponse"}}}}}},"put":{"tags":["Dishes"],"operationId":"update_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DishUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DishResponse"}}}}}},"delete":{"tags":["Dishes"],"operationId":"delete_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/menu/daily/{menuId}/items":{"put":{"tags":["Daily Menus"],"operationId":"replaceItems","parameters":[{"name":"menuId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReplaceMenuItemsRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DailyMenuResponse"}}}}}},"post":{"tags":["Daily Menus"],"operationId":"addItem","parameters":[{"name":"menuId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddMenuItemRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DailyMenuResponse"}}}}}}},"/api/menu/daily/{menuId}/items/reorder":{"put":{"tags":["Daily Menus"],"operationId":"reorder","parameters":[{"name":"menuId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReorderMenuItemRequest"}}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DailyMenuResponse"}}}}}}},"/api/menu/categories/{id}":{"get":{"tags":["Menu Categories"],"operationId":"get_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MenuCategoryResponse"}}}}}},"put":{"tags":["Menu Categories"],"operationId":"update_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MenuCategoryUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MenuCategoryResponse"}}}}}},"delete":{"tags":["Menu Categories"],"operationId":"delete_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/extra/stores/{id}":{"get":{"tags":["store-controller"],"operationId":"get_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreResponse"}}}}}},"put":{"tags":["store-controller"],"operationId":"update_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreResponse"}}}}}},"delete":{"tags":["store-controller"],"operationId":"delete_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/extra/stores/{id}/products/{productId}":{"put":{"tags":["store-controller"],"operationId":"updateProductQuantity","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"productId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreProductUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreProductResponse"}}}}}}},"/api/extra/store-products/{id}":{"get":{"tags":["store-product-controller"],"operationId":"get_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreProductResponse"}}}}}},"put":{"tags":["store-product-controller"],"operationId":"update_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreProductUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreProductResponse"}}}}}},"delete":{"tags":["store-product-controller"],"operationId":"delete_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/extra/products/{id}":{"get":{"tags":["extra-product-controller"],"operationId":"get_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExtraProductResponse"}}}}}},"put":{"tags":["extra-product-controller"],"operationId":"update_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtraProductUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExtraProductResponse"}}}}}},"delete":{"tags":["extra-product-controller"],"operationId":"delete_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/extra/categories/{id}":{"get":{"tags":["extra-category-controller"],"operationId":"get_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExtraCategoryResponse"}}}}}},"put":{"tags":["extra-category-controller"],"operationId":"update_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtraCategoryUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExtraCategoryResponse"}}}}}},"delete":{"tags":["extra-category-controller"],"operationId":"delete_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/extra/carts/{cartId}/items/{itemId}":{"put":{"tags":["extra-cart-controller"],"operationId":"updateItem","parameters":[{"name":"cartId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"itemId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtraCartItemUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExtraCartItemResponse"}}}}}},"delete":{"tags":["extra-cart-controller"],"operationId":"deleteItem","parameters":[{"name":"cartId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"itemId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/deposits/{id}":{"get":{"tags":["deposit-controller"],"operationId":"getDeposit","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DepositResponse"}}}}}},"put":{"tags":["deposit-controller"],"operationId":"updateDeposit","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepositUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DepositResponse"}}}}}},"delete":{"tags":["deposit-controller"],"operationId":"deleteDeposit","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/cash-departments/{id}":{"get":{"tags":["cash-department-controller"],"operationId":"get_9","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CashDepartmentResponse"}}}}}},"put":{"tags":["cash-department-controller"],"operationId":"update_9","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CashDepartmentUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CashDepartmentResponse"}}}}}},"delete":{"tags":["cash-department-controller"],"operationId":"delete_9","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/bookings/{id}":{"get":{"tags":["booking-controller"],"operationId":"getBooking","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BookingResponse"}}}}}},"put":{"tags":["booking-controller"],"operationId":"updateBooking","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingUpdateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BookingResponse"}}}}}},"delete":{"tags":["booking-controller"],"operationId":"deleteBooking","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/bookings/agency/{numeroPratica}":{"put":{"tags":["booking-controller"],"operationId":"updateAgencyBooking","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"numeroPratica","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgencyBookingRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BookingResponse"}}}}}},"delete":{"tags":["booking-controller"],"operationId":"cancelAgencyBooking","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"numeroPratica","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BookingResponse"}}}}}}},"/api/ws-test/receptionist":{"post":{"tags":["web-socket-test-controller"],"operationId":"testReceptionist","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK"}}}},"/api/ws-test/admin":{"post":{"tags":["web-socket-test-controller"],"operationId":"testAdmin","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK"}}}},"/api/ws-test/ack-move-room":{"post":{"tags":["web-socket-test-controller"],"operationId":"ackMoveRoom","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK"}}}},"/api/tables":{"get":{"tags":["Restaurant Tables"],"operationId":"getAllTables","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TableResponse"}}}}}}},"post":{"tags":["Restaurant Tables"],"operationId":"createTable","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TableResponse"}}}}}}},"/api/system/fiscal-tickets":{"post":{"tags":["fiscal-ticket-controller"],"operationId":"createFreeTicket","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FiscalTicketCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FiscalTicketResponse"}}}}}}},"/api/system/fiscal-tickets/fiscal-closure":{"post":{"tags":["fiscal-ticket-controller"],"operationId":"closeFiscal","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK"}}}},"/api/system/fiscal-tickets/deposit":{"post":{"tags":["fiscal-ticket-controller"],"operationId":"createTicketForDeposit","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FiscalTicketCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FiscalTicketResponse"}}}}}}},"/api/system/fiscal-tickets/card":{"post":{"tags":["fiscal-ticket-controller"],"operationId":"createTicketForCard","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FiscalTicketCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created"}}}},"/api/system/fiscal-tickets/booking":{"post":{"tags":["fiscal-ticket-controller"],"operationId":"createTicketForBooking","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FiscalTicketCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FiscalTicketResponse"}}}}}}},"/api/rooms":{"get":{"tags":["room-controller"],"operationId":"getAllRooms","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Room"}}}}}}},"post":{"tags":["room-controller"],"operationId":"createRoom","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Room"}}}}}}},"/api/room-statuses":{"get":{"tags":["room-status-controller"],"operationId":"list","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RoomStatus"}}}}}}},"post":{"tags":["room-status-controller"],"operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomStatusCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoomStatus"}}}}}}},"/api/room-features":{"get":{"tags":["room-feature-controller"],"operationId":"list_1","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RoomFeatureResponse"}}}}}}},"post":{"tags":["room-feature-controller"],"operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomFeatureCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RoomFeatureResponse"}}}}}}},"/api/ps/by-booking/{bookingId}":{"get":{"tags":["ps-controller"],"operationId":"getByBooking","parameters":[{"name":"bookingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PSDto"}}}}}}},"post":{"tags":["ps-controller"],"operationId":"createPS","parameters":[{"name":"bookingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PSCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PSDto"}}}}}}},"/api/payment-methods":{"get":{"tags":["payment-method-controller"],"operationId":"list_2","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PaymentMethodResponse"}}}}}}},"post":{"tags":["payment-method-controller"],"operationId":"create_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentMethodCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentMethodResponse"}}}}}}},"/api/notifications":{"get":{"tags":["notification-controller"],"operationId":"list_3","parameters":[{"name":"targetRole","in":"query","required":false,"schema":{"type":"string"}},{"name":"includeDeleted","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["SENT","READ","DELETED"]}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NotificationResponse"}}}}}}},"post":{"tags":["notification-controller"],"operationId":"create_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationResponse"}}}}}}},"/api/notifications/{id}/read":{"post":{"tags":["notification-controller"],"operationId":"markRead","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationResponse"}}}}}}},"/api/menu/dishes":{"get":{"tags":["Dishes"],"operationId":"list_4","parameters":[{"name":"categoryId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"q","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DishResponse"}}}}}}},"post":{"tags":["Dishes"],"operationId":"create_4","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DishCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DishResponse"}}}}}}},"/api/menu/daily":{"get":{"tags":["Daily Menus"],"operationId":"get_10","parameters":[{"name":"date","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"serviceType","in":"query","required":true,"schema":{"type":"string","enum":["LUNCH","DINNER"]}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DailyMenuResponse"}}}}}},"post":{"tags":["Daily Menus"],"operationId":"create_5","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DailyMenuCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DailyMenuResponse"}}}}}}},"/api/menu/daily/{menuId}/submissions":{"post":{"tags":["Daily Menus"],"operationId":"submitByUser","parameters":[{"name":"menuId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MenuSubmissionRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MenuSubmissionResponse"}}}}}}},"/api/menu/daily/{menuId}/submissions/{bookingId}":{"post":{"tags":["Daily Menus"],"operationId":"submitByBookingIdPath","parameters":[{"name":"menuId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"bookingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MenuSubmissionRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MenuSubmissionResponse"}}}}}}},"/api/menu/categories":{"get":{"tags":["Menu Categories"],"operationId":"list_5","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MenuCategoryResponse"}}}}}}},"post":{"tags":["Menu Categories"],"operationId":"create_6","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MenuCategoryCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MenuCategoryResponse"}}}}}}},"/api/extra/stores":{"get":{"tags":["store-controller"],"operationId":"list_6","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StoreResponse"}}}}}}},"post":{"tags":["store-controller"],"operationId":"create_7","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreResponse"}}}}}}},"/api/extra/stores/{id}/products":{"get":{"tags":["store-controller"],"operationId":"listProducts","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StoreProductResponse"}}}}}}},"post":{"tags":["store-controller"],"operationId":"assignProduct","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreProductAssignRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreProductResponse"}}}}}}},"/api/extra/store-products":{"get":{"tags":["store-product-controller"],"operationId":"list_7","parameters":[{"name":"storeId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"productId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StoreProductResponse"}}}}}}},"post":{"tags":["store-product-controller"],"operationId":"create_8","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreProductCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreProductResponse"}}}}}}},"/api/extra/products":{"get":{"tags":["extra-product-controller"],"operationId":"list_8","parameters":[{"name":"categoryId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExtraProductResponse"}}}}}}},"post":{"tags":["extra-product-controller"],"operationId":"create_9","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtraProductCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExtraProductResponse"}}}}}}},"/api/extra/categories":{"get":{"tags":["extra-category-controller"],"operationId":"list_9","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExtraCategoryResponse"}}}}}}},"post":{"tags":["extra-category-controller"],"operationId":"create_10","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtraCategoryCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExtraCategoryResponse"}}}}}}},"/api/extra/carts":{"get":{"tags":["extra-cart-controller"],"operationId":"list_10","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExtraCartResponse"}}}}}}},"post":{"tags":["extra-cart-controller"],"operationId":"create_11","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtraCartCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExtraCartResponse"}}}}}}},"/api/extra/carts/{id}/items":{"get":{"tags":["extra-cart-controller"],"operationId":"listItems","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExtraCartItemResponse"}}}}}}},"post":{"tags":["extra-cart-controller"],"operationId":"addItem_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtraCartItemCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExtraCartItemResponse"}}}}}}},"/api/extra/carts/{id}/charge":{"post":{"tags":["extra-cart-controller"],"operationId":"charge","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtraCartChargeRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExtraCartResponse"}}}}}}},"/api/deposits":{"get":{"tags":["deposit-controller"],"operationId":"listDeposits","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DepositResponse"}}}}}}},"post":{"tags":["deposit-controller"],"operationId":"createDeposit","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepositCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DepositResponse"}}}}}}},"/api/common/import/tipo-alloggiato":{"post":{"tags":["csv-import-controller"],"operationId":"importTipoAlloggiato","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/common/import/stati":{"post":{"tags":["csv-import-controller"],"operationId":"importStati","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/common/import/documenti":{"post":{"tags":["csv-import-controller"],"operationId":"importDocumenti","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/common/import/comuni":{"post":{"tags":["csv-import-controller"],"operationId":"importComuni","requestBody":{"content":{"application/json":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/cash-departments":{"get":{"tags":["cash-department-controller"],"operationId":"list_11","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CashDepartmentResponse"}}}}}}},"post":{"tags":["cash-department-controller"],"operationId":"create_12","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CashDepartmentCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CashDepartmentResponse"}}}}}}},"/api/bookings":{"get":{"tags":["booking-controller"],"operationId":"getAllBookings","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingListItemResponse"}}}}}}},"post":{"tags":["booking-controller"],"operationId":"createBooking","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BookingResponse"}}}}}}},"/api/bookings/{id}/checkin":{"post":{"tags":["booking-controller"],"operationId":"checkIn","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingCheckInRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BookingResponse"}}}}}},"delete":{"tags":["booking-controller"],"operationId":"cancelCheckIn","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BookingResponse"}}}}}}},"/api/bookings/agency":{"post":{"tags":["booking-controller"],"operationId":"createAgencyBooking","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AgencyBookingRequest"}}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingResponse"}}}}}}}},"/api/bar/cards":{"get":{"tags":["bar-card-controller"],"operationId":"list_12","parameters":[{"name":"userId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"bookingId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BarCardResponse"}}}}}}},"post":{"tags":["bar-card-controller"],"operationId":"create_13","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BarCardCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BarCardResponse"}}}}}}},"/api/bar/cards/{id}/transactions":{"get":{"tags":["bar-card-controller"],"operationId":"listTransactions","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BarTransactionResponse"}}}}}}},"post":{"tags":["bar-card-controller"],"operationId":"addTransaction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BarTransactionCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BarTransactionResponse"}}}}}}},"/api/bar/cards/{id}/topup":{"post":{"tags":["bar-card-controller"],"operationId":"topUp","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BarCardTopUpRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BarCardResponse"}}}}}}},"/api/bar/cards/{cardId}/transactions/{txId}/cancel":{"post":{"tags":["bar-card-controller"],"operationId":"cancelTransaction","parameters":[{"name":"cardId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"txId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BarTransactionResponse"}}}}}}},"/api/auth/register/staff":{"post":{"tags":["auth-controller"],"operationId":"registerStaff","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StaffRegistrationRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisterResponse"}}}}}}},"/api/auth/register/guest":{"post":{"tags":["auth-controller"],"operationId":"registerGuest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GuestUserRegistrationRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisterResponse"}}}}}}},"/api/auth/register/admin":{"post":{"tags":["auth-controller"],"operationId":"registerAdmin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminRegistrationRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegisterResponse"}}}}}}},"/api/auth/login":{"post":{"tags":["auth-controller"],"operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoginResponse"}}}}}}},"/api/agencies":{"get":{"tags":["agency-controller"],"operationId":"listAgencies","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AgencyResponse"}}}}}}},"post":{"tags":["agency-controller"],"operationId":"createAgency","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgencyCreateRequest"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AgencyResponse"}}}}}}},"/api/agencies/{id}/token":{"post":{"tags":["agency-controller"],"operationId":"createAgencyToken","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AgencyTokenResponse"}}}}}}},"/api/users/staff":{"get":{"tags":["user-controller"],"operationId":"listStaff","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserResponse"}}}}}}}},"/api/users/search":{"get":{"tags":["user-controller"],"operationId":"searchByEmail","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}}},"/api/rooms/available":{"get":{"tags":["room-controller"],"operationId":"available","parameters":[{"name":"from","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"to","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Room"}}}}}}}},"/api/notifications/{id}":{"get":{"tags":["notification-controller"],"operationId":"get_11","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationResponse"}}}}}},"delete":{"tags":["notification-controller"],"operationId":"delete_10","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/extra/carts/{id}":{"get":{"tags":["extra-cart-controller"],"operationId":"get_12","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExtraCartResponse"}}}}}},"delete":{"tags":["extra-cart-controller"],"operationId":"delete_11","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/deposits/by-booking/{id}":{"get":{"tags":["deposit-controller"],"operationId":"getDepositsByBooking","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DepositResponse"}}}}}}}},"/api/common/tipo-alloggiato":{"get":{"tags":["common-lookup-controller"],"operationId":"getTipoAlloggiato","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TipoAlloggiato"}}}}}}}},"/api/common/stati":{"get":{"tags":["common-lookup-controller"],"operationId":"getStati","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Stato"}}}}}}}},"/api/common/documenti":{"get":{"tags":["common-lookup-controller"],"operationId":"getDocumenti","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Documento"}}}}}}}},"/api/common/comuni":{"get":{"tags":["common-lookup-controller"],"operationId":"getComuni","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Comune"}}}}}}}},"/api/common/comuni/search":{"get":{"tags":["common-lookup-controller"],"operationId":"searchComuni","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Comune"}}}}}}}},"/api/bookings/by-date":{"get":{"tags":["booking-controller"],"operationId":"findByDate","parameters":[{"name":"date","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BookingResponse"}}}}}}}},"/api/bar/cards/{id}":{"get":{"tags":["bar-card-controller"],"operationId":"get_13","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BarCardResponse"}}}}}}},"/api/bar/cards/by-booking/{id}":{"get":{"tags":["bar-card-controller"],"operationId":"listByBooking","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BarCardResponse"}}}}}}}},"/api/agencies/tokens":{"get":{"tags":["agency-controller"],"operationId":"listTokens","parameters":[{"name":"agencyId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AgencyTokenListResponse"}}}}}}}},"/api/agencies/search":{"get":{"tags":["agency-controller"],"operationId":"searchAgency","parameters":[{"name":"agencyName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AgencyResponse"}}}}}}},"/api/users/{id}":{"delete":{"tags":["user-controller"],"operationId":"deleteUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/system/fiscal-tickets/{id}":{"delete":{"tags":["fiscal-ticket-controller"],"operationId":"cancel","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/menu/daily/{menuId}/items/{itemId}":{"delete":{"tags":["Daily Menus"],"operationId":"removeItem","parameters":[{"name":"menuId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"itemId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}},"/api/agencies/token/{tokenId}":{"delete":{"tags":["agency-controller"],"operationId":"revokeAgencyToken","parameters":[{"name":"tokenId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"409":{"description":"Conflict","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"204":{"description":"No Content"}}}}},"components":{"schemas":{"ApiError":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"integer","format":"int32"},"timestamp":{"type":"string","format":"date-time"}}},"UserUpdateRequest":{"type":"object","properties":{"username":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"phoneNumber":{"type":"string"},"role":{"type":"string"}}},"UserResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"username":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"role":{"type":"string"},"phoneNumber":{"type":"string"}}},"TableUpdateRequest":{"type":"object","properties":{"capacity":{"type":"integer","format":"int32"}}},"TableResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"tableNumber":{"type":"string"},"capacity":{"type":"integer","format":"int32"}}},"RoomUpdateRequest":{"type":"object","properties":{"capacity":{"type":"integer","format":"int32"},"roomType":{"type":"string"},"description":{"type":"string"},"statusId":{"type":"integer","format":"int64"},"featureIds":{"type":"array","items":{"type":"integer","format":"int64"}}}},"Room":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"roomNumber":{"type":"string"},"capacity":{"type":"integer","format":"int32"},"status":{"$ref":"#/components/schemas/RoomStatus"},"roomType":{"type":"string"},"features":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/RoomFeature"}},"description":{"type":"string"}}},"RoomFeature":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}}},"RoomStatus":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}}},"RoomStatusUpdateRequest":{"type":"object","properties":{"name":{"type":"string"}}},"RoomFeatureUpdateRequest":{"type":"object","properties":{"name":{"type":"string"}}},"RoomFeatureResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}}},"PSCreateRequest":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"},"gender":{"type":"string"},"exemption":{"type":"string"},"birthDate":{"type":"string","format":"date"},"birthPlaceCode":{"type":"string"},"countryBirthCode":{"type":"string"},"citizenshipCode":{"type":"string"},"residencePlaceCode":{"type":"string"},"documentTypeCode":{"type":"string"},"documentNumber":{"type":"string"},"documentIssuePlaceMunicipalityCode":{"type":"string"},"documentIssuePlaceCountryCode":{"type":"string"},"tipoAlloggiatoCode":{"type":"string"}}},"BookingSummaryDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"roomId":{"type":"integer","format":"int64"},"adults":{"type":"integer","format":"int32"},"children":{"type":"integer","format":"int32"},"infants":{"type":"integer","format":"int32"},"checkInDate":{"type":"string","format":"date"},"checkOutDate":{"type":"string","format":"date"},"price":{"type":"number"},"status":{"type":"string"}}},"PSDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"firstName":{"type":"string"},"lastName":{"type":"string"},"gender":{"type":"string"},"exemption":{"type":"string"},"birthDate":{"type":"string","format":"date"},"birthPlaceCode":{"type":"string"},"countryBirthCode":{"type":"string"},"citizenshipCode":{"type":"string"},"residencePlaceCode":{"type":"string"},"documentTypeCode":{"type":"string"},"documentNumber":{"type":"string"},"documentIssuePlaceMunicipalityCode":{"type":"string"},"documentIssuePlaceCountryCode":{"type":"string"},"tipoAlloggiatoCode":{"type":"string"},"txPolizia":{"type":"boolean"},"txComune":{"type":"boolean"},"booking":{"$ref":"#/components/schemas/BookingSummaryDto"}}},"PaymentMethodUpdateRequest":{"type":"object","properties":{"name":{"type":"string"},"cashRegisterCode":{"type":"string"}}},"PaymentMethodResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"cashRegisterCode":{"type":"string"}}},"DishUpdateRequest":{"type":"object","properties":{"name":{"type":"string"},"nameEn":{"type":"string"},"categoryId":{"type":"integer","format":"int64"},"ingredients":{"type":"array","items":{"type":"string"}}}},"DishResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"nameEn":{"type":"string"},"categoryId":{"type":"integer","format":"int64"},"categoryName":{"type":"string"},"ingredients":{"type":"array","items":{"type":"string"}}}},"ReplaceMenuItemRequest":{"type":"object","properties":{"dishId":{"type":"integer","format":"int64"},"position":{"type":"integer","format":"int32"},"note":{"type":"string"},"isForChild":{"type":"boolean"}}},"ReplaceMenuItemsRequest":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/ReplaceMenuItemRequest"}}}},"DailyMenuResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"date":{"type":"string","format":"date"},"service":{"type":"string","enum":["LUNCH","DINNER"]},"items":{"type":"array","items":{"$ref":"#/components/schemas/MenuItemResponse"}},"isPublic":{"type":"boolean"}}},"MenuItemResponse":{"type":"object","properties":{"itemId":{"type":"integer","format":"int64"},"position":{"type":"integer","format":"int32"},"dishId":{"type":"integer","format":"int64"},"dishName":{"type":"string"},"dishNameEn":{"type":"string"},"categoryName":{"type":"string"},"note":{"type":"string"},"isForChild":{"type":"boolean"}}},"ReorderMenuItemRequest":{"type":"object","properties":{"itemId":{"type":"integer","format":"int64"},"position":{"type":"integer","format":"int32"}}},"MenuCategoryUpdateRequest":{"type":"object","properties":{"name":{"type":"string"}}},"MenuCategoryResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}}},"StoreUpdateRequest":{"type":"object","properties":{"name":{"type":"string"}}},"StoreResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}}},"StoreProductUpdateRequest":{"type":"object","properties":{"quantity":{"type":"integer","format":"int32"}}},"StoreProductResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"storeId":{"type":"integer","format":"int64"},"storeName":{"type":"string"},"productId":{"type":"integer","format":"int64"},"productName":{"type":"string"},"quantity":{"type":"integer","format":"int32"}}},"ExtraProductUpdateRequest":{"type":"object","properties":{"name":{"type":"string"},"price":{"type":"number"},"stockQuantity":{"type":"integer","format":"int32"},"categoryId":{"type":"integer","format":"int64"}}},"ExtraProductResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"price":{"type":"number"},"stockQuantity":{"type":"integer","format":"int32"},"categoryId":{"type":"integer","format":"int64"},"categoryName":{"type":"string"}}},"ExtraCategoryUpdateRequest":{"type":"object","properties":{"name":{"type":"string"}}},"ExtraCategoryResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}}},"ExtraCartItemUpdateRequest":{"type":"object","properties":{"quantity":{"type":"integer","format":"int32"}}},"ExtraCartItemResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"cartId":{"type":"integer","format":"int64"},"storeId":{"type":"integer","format":"int64"},"storeName":{"type":"string"},"productId":{"type":"integer","format":"int64"},"productName":{"type":"string"},"quantity":{"type":"integer","format":"int32"}}},"DepositUpdateRequest":{"type":"object","properties":{"amount":{"type":"number"},"paymentMethodId":{"type":"integer","format":"int64"},"notes":{"type":"string"},"bookingId":{"type":"integer","format":"int64"}}},"DepositResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"amount":{"type":"number"},"paymentMethodId":{"type":"integer","format":"int64"},"paymentMethodName":{"type":"string"},"paymentMethodCashRegisterCode":{"type":"string"},"notes":{"type":"string"},"bookingId":{"type":"integer","format":"int64"},"registrationDate":{"type":"string","format":"date"}}},"CashDepartmentUpdateRequest":{"type":"object","properties":{"name":{"type":"string"},"code":{"type":"string"}}},"CashDepartmentResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"code":{"type":"string"}}},"BookingUpdateRequest":{"type":"object","properties":{"userId":{"type":"integer","format":"int64"},"agencyId":{"type":"integer","format":"int64"},"agencyReference":{"type":"string"},"agencyBookingDate":{"type":"string","format":"date"},"roomNumber":{"type":"string"},"adults":{"type":"integer","format":"int32"},"children":{"type":"integer","format":"int32"},"infants":{"type":"integer","format":"int32"},"checkInDate":{"type":"string","format":"date"},"checkOutDate":{"type":"string","format":"date"},"treatment":{"type":"string","enum":["ROOM_BREAKFAST","HALF_BOARD","FULL_BOARD"]},"notes":{"type":"string"},"status":{"type":"string","enum":["INSERTED","CONFIRMED","ARRIVED","CANCELLED","DEPARTED"]},"tableNumber":{"type":"string"},"price":{"type":"number"}}},"BarCard":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"user":{"$ref":"#/components/schemas/User"},"balance":{"type":"number"},"createdAt":{"type":"string","format":"date-time"}}},"BookingDepositResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"amount":{"type":"number"},"paymentType":{"type":"string"},"registrationDate":{"type":"string","format":"date"}}},"BookingResponse":{"type":"object","properties":{"deposits":{"type":"array","items":{"$ref":"#/components/schemas/BookingDepositResponse"}},"requestedFeatures":{"type":"array","items":{"$ref":"#/components/schemas/RoomFeature"}},"id":{"type":"integer","format":"int64"},"roomNumber":{"type":"string"},"userId":{"type":"integer","format":"int64"},"guestEmail":{"type":"string"},"guestFirstName":{"type":"string"},"guestLastName":{"type":"string"},"guestPhone":{"type":"string"},"cards":{"type":"array","items":{"$ref":"#/components/schemas/BarCard"}},"agencyId":{"type":"integer","format":"int64"},"agencyName":{"type":"string"},"agencyReference":{"type":"string"},"agencyBookingDate":{"type":"string","format":"date"},"adults":{"type":"integer","format":"int32"},"children":{"type":"integer","format":"int32"},"infants":{"type":"integer","format":"int32"},"checkInDate":{"type":"string","format":"date"},"checkOutDate":{"type":"string","format":"date"},"treatment":{"type":"string","enum":["ROOM_BREAKFAST","HALF_BOARD","FULL_BOARD"]},"checkInMeal":{"type":"string","enum":["BREAKFAST","LUNCH","DINNER"]},"notes":{"type":"string"},"status":{"type":"string","enum":["INSERTED","CONFIRMED","ARRIVED","CANCELLED","DEPARTED"]},"tableNumber":{"type":"string"},"price":{"type":"number"},"createdAt":{"type":"string","format":"date-time"}}},"User":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"username":{"type":"string"},"password":{"type":"string"},"role":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"}}},"AgencyBookingRequest":{"type":"object","properties":{"participants":{"type":"array","items":{"$ref":"#/components/schemas/Participant"}},"service":{"$ref":"#/components/schemas/Service"},"pratica":{"$ref":"#/components/schemas/Pratica"}}},"Participant":{"type":"object","properties":{"name":{"type":"string"},"birthDate":{"type":"string"},"child":{"type":"boolean"}}},"Pratica":{"type":"object","properties":{"numeroPratica":{"type":"string"},"dataPratica":{"type":"string"}}},"Service":{"type":"object","properties":{"descrizioneServizi":{"type":"string"},"trattamento":{"type":"string"},"dal":{"type":"string"},"al":{"type":"string"},"adulti":{"type":"integer","format":"int32"},"bambini":{"type":"integer","format":"int32"},"totalePersone":{"type":"integer","format":"int32"},"note":{"type":"string"},"prezzo":{"type":"number"}}},"TableCreateRequest":{"type":"object","properties":{"tableNumber":{"type":"string"},"capacity":{"type":"integer","format":"int32"}}},"FiscalTicketCreateRequest":{"type":"object","properties":{"price":{"type":"number"},"cashDepartmentId":{"type":"integer","format":"int64"},"paymentMethodId":{"type":"integer","format":"int64"},"bookingId":{"type":"integer","format":"int64"},"bookingDepositId":{"type":"integer","format":"int64"},"barCardId":{"type":"integer","format":"int64"},"description":{"type":"string"}}},"FiscalTicketResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"price":{"type":"number"},"cashDepartmentId":{"type":"integer","format":"int64"},"cashDepartmentName":{"type":"string"},"paymentMethodId":{"type":"integer","format":"int64"},"paymentMethodName":{"type":"string"},"bookingId":{"type":"integer","format":"int64"},"bookingDepositId":{"type":"integer","format":"int64"},"barCardId":{"type":"integer","format":"int64"},"issuedAt":{"type":"string","format":"date-time"},"state":{"type":"string"}}},"RoomCreateRequest":{"type":"object","properties":{"roomNumber":{"type":"string"},"capacity":{"type":"integer","format":"int32"},"roomType":{"type":"string"},"description":{"type":"string"},"statusId":{"type":"integer","format":"int64"},"featureIds":{"type":"array","items":{"type":"integer","format":"int64"}}}},"RoomStatusCreateRequest":{"type":"object","properties":{"name":{"type":"string"}}},"RoomFeatureCreateRequest":{"type":"object","properties":{"name":{"type":"string"}}},"PaymentMethodCreateRequest":{"type":"object","properties":{"name":{"type":"string"},"cashRegisterCode":{"type":"string"}}},"NotificationCreateRequest":{"type":"object","properties":{"message":{"type":"string"},"targetRole":{"type":"string"},"type":{"type":"string","enum":["ERROR","WARNING","SUCCESS"]},"bookingId":{"type":"integer","format":"int64"}}},"NotificationResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"message":{"type":"string"},"targetRole":{"type":"string"},"type":{"type":"string","enum":["ERROR","WARNING","SUCCESS"]},"bookingId":{"type":"integer","format":"int64"},"status":{"type":"string","enum":["SENT","READ","DELETED"]},"readAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"}}},"DishCreateRequest":{"type":"object","properties":{"name":{"type":"string"},"nameEn":{"type":"string"},"categoryId":{"type":"integer","format":"int64"},"ingredients":{"type":"array","items":{"type":"string"}}}},"DailyMenuCreateRequest":{"type":"object","properties":{"date":{"type":"string","format":"date"},"service":{"type":"string","enum":["LUNCH","DINNER"]},"isPublic":{"type":"boolean"}}},"DishSelection":{"type":"object","properties":{"dishId":{"type":"integer","format":"int64"},"count":{"type":"integer","format":"int32"}}},"MenuSubmissionRequest":{"type":"object","properties":{"bookingId":{"type":"integer","format":"int64"},"selections":{"type":"array","items":{"$ref":"#/components/schemas/DishSelection"}}}},"MenuSubmissionResponse":{"type":"object","properties":{"submissionId":{"type":"integer","format":"int64"}}},"AddMenuItemRequest":{"type":"object","properties":{"dishId":{"type":"integer","format":"int64"},"position":{"type":"integer","format":"int32"},"note":{"type":"string"},"isForChild":{"type":"boolean"}}},"MenuCategoryCreateRequest":{"type":"object","properties":{"name":{"type":"string"}}},"StoreCreateRequest":{"type":"object","properties":{"name":{"type":"string"}}},"StoreProductAssignRequest":{"type":"object","properties":{"productId":{"type":"integer","format":"int64"},"quantity":{"type":"integer","format":"int32"}}},"StoreProductCreateRequest":{"type":"object","properties":{"storeId":{"type":"integer","format":"int64"},"productId":{"type":"integer","format":"int64"},"quantity":{"type":"integer","format":"int32"}}},"ExtraProductCreateRequest":{"type":"object","properties":{"name":{"type":"string"},"price":{"type":"number"},"stockQuantity":{"type":"integer","format":"int32"},"categoryId":{"type":"integer","format":"int64"}}},"ExtraCategoryCreateRequest":{"type":"object","properties":{"name":{"type":"string"}}},"ExtraCartCreateRequest":{"type":"object"},"ExtraCartResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"createdAt":{"type":"string","format":"date-time"}}},"ExtraCartItemCreateRequest":{"type":"object","properties":{"storeProductId":{"type":"integer","format":"int64"},"quantity":{"type":"integer","format":"int32"}}},"ExtraCartChargeRequest":{"type":"object","properties":{"cardId":{"type":"integer","format":"int64"}}},"DepositCreateRequest":{"type":"object","properties":{"amount":{"type":"number"},"paymentMethodId":{"type":"integer","format":"int64"},"notes":{"type":"string"},"bookingId":{"type":"integer","format":"int64"}}},"CashDepartmentCreateRequest":{"type":"object","properties":{"name":{"type":"string"},"code":{"type":"string"}}},"BookingCreateRequest":{"type":"object","properties":{"roomNumber":{"type":"string"},"userId":{"type":"integer","format":"int64"},"agencyId":{"type":"integer","format":"int64"},"agencyReference":{"type":"string"},"agencyBookingDate":{"type":"string","format":"date"},"adults":{"type":"integer","format":"int32"},"children":{"type":"integer","format":"int32"},"infants":{"type":"integer","format":"int32"},"checkInDate":{"type":"string","format":"date"},"checkOutDate":{"type":"string","format":"date"},"treatment":{"type":"string","enum":["ROOM_BREAKFAST","HALF_BOARD","FULL_BOARD"]},"notes":{"type":"string"},"status":{"type":"string","enum":["INSERTED","CONFIRMED","ARRIVED","CANCELLED","DEPARTED"]},"price":{"type":"number"}}},"BookingCheckInRequest":{"type":"object","properties":{"meal":{"type":"string","enum":["BREAKFAST","LUNCH","DINNER"]}}},"BarCardCreateRequest":{"type":"object","properties":{"userId":{"type":"integer","format":"int64"},"bookingId":{"type":"integer","format":"int64"},"initialBalance":{"type":"number"}}},"BarCardResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"username":{"type":"string"},"bookingId":{"type":"integer","format":"int64"},"balance":{"type":"number"},"createdAt":{"type":"string","format":"date-time"}}},"BarTransactionCreateRequest":{"type":"object","properties":{"storeId":{"type":"integer","format":"int64"},"productId":{"type":"integer","format":"int64"},"quantity":{"type":"integer","format":"int32"}}},"BarTransactionResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"cardId":{"type":"integer","format":"int64"},"amount":{"type":"number"},"transactionType":{"type":"string"},"cartId":{"type":"integer","format":"int64"},"cancelled":{"type":"boolean"},"cancelledAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"}}},"BarCardTopUpRequest":{"type":"object","properties":{"amount":{"type":"number"}}},"StaffRegistrationRequest":{"type":"object","properties":{"username":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"password":{"type":"string"},"role":{"type":"string"}}},"RegisterResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"username":{"type":"string"},"email":{"type":"string"}}},"GuestUserRegistrationRequest":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"},"password":{"type":"string"},"email":{"type":"string"},"phoneNumber":{"type":"string"}}},"AdminRegistrationRequest":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"},"password":{"type":"string"}}},"LoginRequest":{"type":"object","properties":{"username":{"type":"string"},"password":{"type":"string"}}},"LoginResponse":{"type":"object","properties":{"token":{"type":"string"},"role":{"type":"string"}}},"AgencyCreateRequest":{"type":"object","properties":{"agencyName":{"type":"string"}}},"AgencyResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"agencyName":{"type":"string"}}},"AgencyTokenResponse":{"type":"object","properties":{"agencyId":{"type":"integer","format":"int64"},"token":{"type":"string"}}},"TipoAlloggiato":{"type":"object","properties":{"codice":{"type":"string"},"descrizione":{"type":"string"}}},"Stato":{"type":"object","properties":{"codice":{"type":"string"},"nome":{"type":"string"}}},"Documento":{"type":"object","properties":{"codice":{"type":"string"},"descrizione":{"type":"string"}}},"Comune":{"type":"object","properties":{"codice":{"type":"string"},"nome":{"type":"string"},"provincia":{"type":"string"}}},"BookingListItemResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"roomNumber":{"type":"string"},"guestUsername":{"type":"string"},"gues
[...]
